@import "bower_components/bootstrap/less/variables.less";
@import "bower_components/bootstrap/less/mixins/grid.less";

body {
    background: #000;
}

.instafeed {
    &__row {
        .make-row();
    }

    &__column {
        .make-sm-column(12);
    }
}

header {
    width: 100%;
    margin-bottom: @grid-gutter-width;
    margin-top: 0px;
    background: url(../img/nyc-skyline.jpg) top center no-repeat;
    background-size: cover;
}

.realjt-header__heading {
    padding: 70px 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    text-align: center;
    background: rgba(34, 34, 34, 0.8)
}

.instafeed__image {
    .make-sm-column(3);
    margin-bottom: @grid-gutter-width;
}

.btn[disabled] {
    display: none;
}

footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    padding: @grid-gutter-width 0;
}
