<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#realJT</title>
<!--     <meta name="description" content="Annual Winter Gala presented by the FIDV Young Leadership Board" />
 -->
<!--     <meta property="og:title" content="Friends of Israeli Disabled Veterans Young Leaders" />
    <meta property="og:site_name" content="Friends of Israeli Disabled Veterans Young Leaders"/>
    <meta property="og:url" content="https://fidv.org/youngleaders/" />
    <meta property="og:description" content="Annual Winter Gala presented by the FIDV Young Leadership Board" />
    <meta property="og:image" content="https://fidv.org/youngleaders/img/fidv-share-image.png" />

    <link rel="canonical" href="https://fidv.org/youngleaders/" /> -->

    <link rel="stylesheet" type="text/css" href="./build/1.0.0/css/style.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
   
    <header>
        <h1 class="realjt-header__heading">#realJT</h1>
    </header>

    <div class="container-fluid">
        <div class="instafeed__row">
            <div class="instafeed__column instafeed__column--left"></div>
            <div class="instafeed__column instafeed__column--right">
                <div id="instafeed"></div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button id="load-more" class="btn btn-default">View More</button>

    </div>

    <footer>
        J + T October 22, 2016
    </footer>

    <script type="text/javascript" src="./build/1.0.0/js/realjt.min.js"></script>

</body>
</html>
